body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
  }
  
  .header {
    text-align: center;
    background-color: #007BFF;
    color: #fff;
    padding: 20px 0;
  }
  
  .heading-text {
    font-size: 24px;
  }
  
  .container {
    text-align: center;
    margin-top: 20px;
  }
  
  .dogImageDiv {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    max-width: 600px;
    padding: 20px;
  }
  
  .imageBox {
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btnDiv {
    margin-top: 20px;
  }
  
  .button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Media Query for responsiveness */
  @media (max-width: 768px) {
    .heading-text {
      font-size: 20px;
    }
  
    .container {
      margin: 10px;
    }
  }
  